<li id="post-<%= post._id %>">
    <div class="post-card">
        <div class="post-card-title">
            <p>
                <%= i.user.name %>
            </p>
            <% if( locals.user && locals.user.id==i.user.id ){ %>
                <p>
                    <a class="delete-post-btn" href="/posts/destroy/<%= i._id %>">
                        X
                    </a>
                </p>
            <% } %>
            
        </div>
        <div class="post-content">
            <%= i.content %>
        </div>
        <ul id="post-comment-<%= post._id %>">
            <%for( comment of i.comments){%>
                <%-include('_comment')-%>
            <%}%>
        </ul> 
        <!-- Comment form -->
        <form action="/comments/create" id="add-comment-form-<%= post._id %>" method="post">
            <input type="text" name="content" placeholder="Add a Comment..." required>
            <input type="hidden" name="post" value= <%= i._id %> >
            <button type="submit" >Add</button>
        </form> 
        
    </div>
</li>