<link rel="stylesheet" href="/css/home.css">
<h1>
    ReachMe/<%= title %>  
</h1>
<div>
    <% if(user.id==profile_user.id){ %>
        <!-- show form to update -->
        <form action=" /users/update/<%= profile_user._id %> " method="post">
            <input type="text" name="name" placeholder="Your name" value= "<%= profile_user.name %>" >
            <input type="email" name="email" id="" placeholder="Your email" value = "<%= profile_user.email %>" >
            <button type="submit">Update</button>
        </form>
    <% } %>
    <!-- show only user info -->
    <h3>User Name: <%= profile_user.name %></h3>
    <h3>User Name: <%= profile_user.email %></h3>
</div>
